 <div class="row ">
    <div class="col-md-7 col-xs-12">
      <h4>Você receberá uma notificação deste<br>pedido no e-mail <span class="color-orange">{{ order.email }}</span></h4>
      <h4>Pedido <span class="color-orange">{{ order.code }} </span>{% if logged_in %}feito por {{ client.first_name }} com {% endif %} <br>pagamento por <strong>{{ order.payment_method }}</strong></h4>
      <p class="font-light color-gray-light">

      // se método de pagamento for boleto cai na primeira condição  
      {% if order.slip %}
      Um e-mail de confirmação será enviado para você assim que seu pagamento for confirmado. Após isso, seu pedido será enviado em até <b>3 dias úteis.</b>
       {% else %}
      Um e-mail de confirmação será enviado para você assim seu pedido for confirmado e encaminhado para o envio, note que isso pode levar até <b>2 dias úteis</b> a partir de hoje.
      {% endif %}

      </p>
    </div>
  </div>

 <!-- só carrega se o método escolhido for boleto -->
  {% if order.slip %} 
  <div class="row m-b-xl">
    <div class="col-md-3 col-md-offset-5 col-xs-12 input-group">
        {% if store.settings.slip_gateway == 'cobre_gratis' %}
        <a target="_blank" href="{{ order.slip_url }}">IMPRIMIR BOLETO</a>
        {% else %}
        
        <!-- botão que será exibido ao final da requisão para o moi gerar o link para imprimir boleto  -->
        <!-- Este processo pode levar alguns segundos e por padrão carregamos o loader e.. -->
        {% include "loading" %}
        <a target="_blank" href="#" id="print-button" style="display:none;">IMPRIMIR BOLETO</a>
        <!-- ..script padrão que será executado sempre que uma requisão ao moip for conclúida. -->
        <script type="text/javascript">
          $(function(){
            $("#moip-script").on("success", function() {
              $("#loading").fadeOut();
            });
          });
        </script><br>
       {% endif %} 
    </div>
  </div>
  {% endif %}
</div>
